# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\dv_21\opencv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
